
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(165, 238, 238);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#app {
    margin-top: 20px;
}

input {
    padding: 8px;
    width: 70%;
    border: none;
    outline: none;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: rgb(56, 226, 56);
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li button {
    background-color: #ff6961;
    color: #fff;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
}
